#main{
	background-color: #EEEEF1;
}
.nav-bar{
	overflow: hidden;
	background-color: black;
	margin: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.nav-bar li{
	display: inline;
	list-style-type: none;
	color:white;
}
.nav-bar li a{
	text-decoration: none;
	float: right;
	display: block;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: large;
	text-align: center;
}
.nav-bar li a:hover{
	transform: scale(1.1);
}
.nav-bar a img{
	height: auto;
	width: 25px;
}
.image{
	margin-top: 60px;
	margin-bottom: 40px;
}
.image img{
	width: 80%;
	margin-left: 120px;
}

.itembar{
	width: 100%;
}
.item1{
	float: right;
	width: 48%;
	height: 600px;
	margin-right: 10px;
	margin-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	/*background-color: white;*/
}
.item2{
	float: left;
	width: 48%;
	height: 600px;
	margin-right: 10px;
	margin-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	overflow: scroll;
}
.item1 input,textarea{
	width: 100%;
	height: 50px;
	padding: 10px;
	/*background-color: white;*/
	/*color: black;*/
}
textarea{
	height: 150px;
	overflow: scroll;
}
.item1 label{
	font-size: x-large;
	padding: 8px;
	/*color: white;*/
}
.item1 button{
	padding: 8px 30px;
	margin-top: 10px;
	margin-left:40%;
	margin-right: auto; 
}
.item1 button:hover{
	background-color: green;
	color: white;
}
.item2 h1{
	font-weight: bolder;
	font-size: xx-large;
	margin-bottom: 20px;
}
.cards{
	float: left;
	width: 48%;
	background-color: white;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:10px 5px;
}
.cards img{
	float: left;
	height: 60px;
	width: 60px;
	margin-right: 10px;
}
.cards a{
	font-size: large;
	color: black;
	font-weight: bold;
}
.item2 h2{
	font-weight: bold;
	font-size: xx-large;
}
#abc{
	font-size: large;
}
#formlink:hover{
	transform: scale(1.1);
}
