
body {
  background-color: #eeeef1;
  font-family: sans-serif;
  text-transform: capitalize;
}
legend {
  font-size: 30px;
  color: rgb(66, 64, 82);
  }
td {
  padding:10px;

}
a {
  text-decoration: none;

}

fieldset {
  width: 30%;
  margin:auto;
  margin-top: 100px;
}
button {
  border:none;
  font-size: 20px;
  padding: 20px;
  width: 25%;
  display: block;
  margin: 20px auto;
  background-color: rgb(66, 64, 82);
  color:rgba(255, 227, 217, 1.0);
}
button:hover {
  background-color: green;
  color:white;
  animation-name: changeColor;
  animation-duration: 0.5s;
}
@keyframes changeColor {
  from{background-color: rgb(66, 64, 82);color: rgba(255, 227, 217, 1.0);
  to{background-color:green;color:white;}}
}